.doc{
    width: 960px;
    margin: 0 auto;

    background-color: #F5F5F5;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    font-family: Monaco,"DejaVu Sans Mono",monospace,sans-serif;
    font-size: 13px;
    padding: 13px;
}

.doc h1{
    text-align: center;
}

div#iread{
   width: 900px;
}

input#ireadbtn{
    margin-left: 450px;
}

.doc pre{
    word-wrap: break-word;
}

.docwrapper{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    min-height: 2000px;
}

.recap.doc{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    /*color: #a2b7c6;*/
    color: #ffc66d;
    /*color: #bbb529;*/
}